# Dependencies
node_modules

# Next.js build output
.next
out
tsconfig.tsbuildinfo
next-env.d.ts

# Environment files
.env.local
.env*.local

# Supabase
supabase/.branches
supabase/.temp

# Testing
coverage
playwright-report
test-results

# OS files
.DS_Store
Thumbs.db

# Editor files
.vscode
.idea
*.swp
*.swo
